@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

$Poppins: "Poppins",
sans-serif;
$Manrope: 'Manrope',
sans-serif;


//colors
$darkLight:#5d5d5d;
$darkExtraLight:#adadad14;
$primary:#333333;
$secondary:#FF3644;
$bg:#f7f7f7;
$light: #ffffff;
$dark:#000;

//padding button
$paddingSideLarge:16px;
$paddingHighLarge:8px;
$paddingSideSmall:12px;
$paddingHighSmall:6px;

//padding container
$paddingContainerLarge:5rem;
$paddingContainerSmall:2rem;
$paddingContainerExtSmall:1.5rem;


//spacing
$spacing-md:16px;
$spacing-lg:32px;

//border radius
$borderRadius:12px;
$borderRadiusSmall:8px;

//header height
$headerHeight:10vh;

//max-width
$maxwidth:1700px;

//red line
$redlineHeight:2px;


//MEDIA QUERIES
@mixin breakpoint($point) {
    @if $point==sm {

        //576
        @media (min-width:36em) {
            @content;
        }
    }

    @if $point==md {

        //768
        @media (min-width:48em) {
            @content;
        }
    }

    @if $point==lg {

        //992
        @media (min-width:62em) {
            @content;
        }
    }

    @if $point==extlg {

        //992
        @media (min-width:75em) {
            @content;
        }
    }
}