@import '../../styles/index.scss';

.heropage_title {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    &_text {
        font-size: 2.5rem;
        font-weight: 600;
        opacity: 0;

        @include breakpoint(lg) {
            font-size: 3rem;
        }
    }
}

.heropage_line {
    width: 50%;
    height: $redlineHeight;
    background-color: $secondary;
    border-radius: 10px;
    margin: 0 0 16px 10px;
}